# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Local environment
.env
.venv/
venv/
ENV/
env/
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Django migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py

# Static files
staticfiles/
static/

# Media files
media/

# Jupyter Notebooks
*.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
